In [46]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import DBSCAN
import matplotlib.pyplot as plt
import seaborn as sns
# Load your dataset
df = pd.read_csv("../train_test_splits/train.feats.csv", low_memory=False)

# Convert all date columns
date_cols = [col for col in df.columns if "date" in col.lower()]
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce', dayfirst=True)

In [47]:
# Compute last treatment date
df['last_treatment_date'] = df[date_cols].max(axis=1)

# Compute 'days since last treatment'
for col in date_cols:
    df[f"{col}_since_last"] = (df['last_treatment_date'] - df[col]).dt.days

In [48]:
# Drop original dates
df = df.drop(columns=date_cols + ['last_treatment_date'])

# Select timeline features
timeline_cols = [col for col in df.columns if col.endswith('_since_last')]
timeline_df = df[timeline_cols].fillna(df[timeline_cols].median())

# Normalize
scaler = StandardScaler()
timeline_scaled = scaler.fit_transform(timeline_df)

In [50]:
timeline_df

,אבחנה-Diagnosis date_since_last,אבחנה-Surgery date1_since_last,אבחנה-Surgery date2_since_last,אבחנה-Surgery date3_since_last,surgery before or after-Activity date_since_last
0,650,1126.0,34.0,76.0,0.0
1,650,1126.0,34.0,76.0,0.0
2,650,1126.0,34.0,76.0,0.0
3,650,1126.0,34.0,76.0,0.0
4,650,1126.0,34.0,76.0,0.0
...,...,...,...,...,...
49346,0,36.0,34.0,76.0,36.0
49347,0,63.0,34.0,76.0,62.0
49348,0,63.0,34.0,76.0,62.0
49349,0,63.0,34.0,76.0,62.0
49350,0,63.0,34.0,76.0,62.0